.logotipo{
    margin-left: 10rem;
}
.parrafo-inicial{
   margin-left: 5%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 150px;
   width: 100%;
}
.parrafo-inicial h1{
    color: white;
}
.parrafo-inicial h4{
    color: rgb(243, 232, 232);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#carouselExampleIndicators{
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
    height: 10%;
}
#foto{
    float: right;
    margin-top: -190px;
    margin-right: 5%;
    margin-left: 55%;
}
.lead{
    margin-top: 20px;
}
.card-group{
    margin-top: 100px;
    margin-bottom: 50px;
}
.titulos-pizza{
    text-align: center;
    margin-top: 50px;
    background-color: #f0544f;
    margin-right: auto;
    margin-left: auto;
}
